/* static/src/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility */
@layer utilities {
    .paused {
        animation-play-state: paused;
    }
}

/* Load fonts */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }